<div class="row clearfix">
    <div class="col-md-12 column">
    	<div class="row clearfix">
    		<h3><center>CHAT</center></h3>
    	</div>
    	<div class="row clearfix">
    		<div class="col-md-12 column">
	    		<div class="well">{{msg}}</div>
	    		<form class="form-inline pull-right">			  	
				  	<div class="form-group">
				    	<input type="text" class="form-control" ng-model="message" placeholder="Chat Message">
				  	</div>
			  		<button type="submit" class="btn btn-primary" ng-click="sendMsg()">Send</button>				  	
				</form>
			</div>
    	</div>
    </div>
</div>